#carouselExampleIndicators img {
    height: 90vh;
    width: 100%;
}

.svg {
    filter: invert(1);
    height: 25px;
    width: 25px;
}

.custom-caption {
    color: rgb(59, 7, 7);
    font-size: 2.5rem;
    font-weight: bolder;
    position: absolute;
    bottom: 15%;
}

@media (max-width: 576px) {
    .custom-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;
        font-size: 2rem;
    }
}

.showcase-card {
    min-height: 300px;
}

.custom-link {
    color: #4c5258;
}

.custom-link:hover {
    color: #0d6efd;
}

@media (max-width: 768px) {
    #featured-3 {
        text-align: center;
    }
}

.social-icon {
    height: 30px;
    width: 30px;
    filter: invert(0.5);
    transition: filter 0.2s ease;
}

.social-icon:hover {
    filter: invert(0);
}